grpcio
grpcio-tools==1.62.2
grpcio-health-checking
protobuf>4.0.0,<5.0.0
prometheus-client
openai
tiktoken
fastapi[standard]
uvicorn[standard]
python-multipart
# There is an issue: https://github.com/explosion/cython-blis/issues/117 that causes mac and arm linux
# build to fail. Temp workaround is to limit spacy to < 3.8.0. Switch over to pyproject.toml and use
# platform specific deps if needed
spacy<3.8.0
numpy==1.26.4
presidio_analyzer
presidio_anonymizer
opentelemetry-distro
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp-proto-grpc
httpx
